<li class="list-group-item" id="comment-<%= comment.id %>">
  <span>
    <%= link_to gravatar_for(comment.user, size: 30), comment.user %>
    <%= link_to comment.user.name, comment.user %></br>
    <%= comment.content %>
  </span>
  <div class='timestamp'>
    <%= time_ago_in_words(comment.created_at) %> ago
    <% if current_user? comment.user %> 
      <%= link_to t(".edit"), edit_comment_path(comment), remote: true %>
        <span id="myModal"></span>
      <%#= link_to "Edit", "#editForm#{comment.id}",
            data: {toggle: 'collapse'},
            aria: {expanded: 'false', controls: "#editForm#{comment.id}"} %>
      <%= link_to t(".delete"), comment, remote: true, method: :delete, data: {confirm: t(".confirm")}%>
        <!--<div class='collapse' id=<%="editForm#{comment.id}"%>>
          <%= render 'comments/form', comment: comment, micropost: comment.micropost %>
        </div>-->
    <% elsif user_signed_in? && current_user.admin? || current_user?(comment.micropost.user) %>
      <%= link_to t(".delete"), comment, remote: true, method: :delete, data: {confirm: t(".confirm")}%>
    <% end %>
  </div>
</li>
