<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="title"><%= micropost.title %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete, data:{confirm: "You sure?"} %>
    <% end %>
  </span>
  <span>
    <%= micropost.likes.count %> <%= micropost.likes.count < 2 ? "Like" : "Likes" %>
  </span>
  <% if logged_in? %>
    <% if current_user.liked? micropost %>
      <% liked = micropost.likes.find_by user_id: current_user.id %>
      <%= link_to "Unlike", micropost_like_path(micropost, liked), method: :delete %>
    <% else %>
      <%= link_to "Like", micropost_likes_path(micropost), method: :post %>
    <% end %>

    <span class="list-group-item">
      <%= render "shared/comment_form", micropost: micropost %>
    </span>
  <% end %>
  <h4 id="comments">
    Comments (<%= micropost.comments.count %>)
  </h4>
  <li class="list-group">
    <%= render micropost.comments %>
  </li>
</li>
