<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="title"><%= micropost.title %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user? micropost.user %>
      <%= link_to "edit", edit_micropost_path(micropost) %>
      <%= link_to "delete", micropost, method: :delete, data:{confirm: "You sure?"} %>
    <% end %>
  </span>
  <span id="likes">
    <%= pluralize(micropost.likes.count, "like") %>
  </span>
  <% if user_signed_in? %>
    <div class="like_or_unlike"> 
      <%= render "microposts/likes/button", micropost: micropost %>
    </div>
    <div class="list-group-item">
      <%= render "comments/form", comment: Comment.new, micropost: micropost %>
    </div>
  <% end %>
  <h4 id="comments">
    Comments (<%= micropost.comments.count %>)
  </h4>
  <ul class="list-group">
    <%= render micropost.comments %>
  </ul>
</li>
