<footer class="footer">
  <small>
    <%= t(".writer", url1: "http://www.railstutorial.org/", url2: "http://www.michaelhartl.com/").html_safe %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".help"), help_path %></li>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= t(".news", url: "http://news.railstutorial.org/").html_safe %></li>
    </ul>
  </nav>
</footer>
